 html{
 	// background-color: green;
 }

 .search-bar{
 	width: 100%;
 	line-height: 100%;
 	margin-top: 10px;
 	// display: flex;
  // 	align-items: center;
  // 	justify-content: center;

 }

 .search-bar-container{
 	
 }

 .btn-primary{
 	margin-top: 10px;
 }

 .margin-above{
 	margin-top: 30px;
 }

 .ad-box{
 	height: 400px;
 	border: 2px solid black;
 }
